{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="container">
<div class="row">
<div class="col-lg-12">

<table class="table table-hover">
  <h2>Seu perfil</h2>
  <thead>
    <tr>
      <th scope="col">Nome de usuário</th>
      <th scope="col">Nome</th>
      <th scope="col">Sobrenome</th>
      <th scope="col">E-mail</th>    
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{users.username}}</td>
      <td>{{users.first_name}}</td>
      <td>{{users.last_name}}</td>
      <td>{{users.email}}</td>      
    </tr>
  </tbody>
</table>

<div class="d-sm-flex align-items-center mt-5 mb-10">
            <a href="{% url 'updateprofile' %}" class="btn btn-primary btn-animated mr-sm-3 mb-3 mb-sm-0"><i class="las la-user mr-2"></i>Editar Perfil</a>
          </div>

</div>
</div>
</div>
{% endblock body %}